<div class="home-banner mini_banner_sbi" data-id="section_320">
  <div class="custom-banner-container">
    <a href="/non-prescriptions/fitness/vitamins-and-supplements" title="" rel="nofollow" aria-label="">
      <img 
        src="assets/images/cancer/1689833474_Wellness_web (2).jpg" 
        alt="Vitamins and Supplements Banner" 
        class="custom-banner-img"
      />
    </a>
  </div>
</div>

<!-- Category Section -->
<section id="shop_by_category_329" data-id="section_329" class="grid_box5">
  <div class="section-header">
    <a class="clsviewall">View All</a>
  </div>
  <div class="cat_list">

 <!-- 1. Amino Acids -->
<div class="drug_details">
 <a routerLink="/shared/amino-acids">
    <span class="custom_img">
      <img 
        src="assets/images/cancer/amino_acids_1.jpeg" 
        alt="Amino Acids"
      />
    </span>
  </a>
</div>


    <!-- 2. Co-Q -->
    <div class="drug_details">
      <a>
        <img src="assets/images/cancer/co_q_1.jpeg" 
             alt="Co-Q">
      </a>
    </div>

    <!-- 3. Multi-Vitamins -->
    <div class="drug_details">
      <a>
        <img src="assets/images/cancer/multi_vitamins_1.jpeg" 
             alt="Multi-Vitamins">
      </a>
    </div>

    <!-- 4. Biotins -->
    <div class="drug_details">
      <a>
        <img src="assets/images/cancer/biotins_1.jpeg" 
             alt="Biotins">
      </a>
    </div>

    <!-- 5. Calcium and Minerals -->
    <div class="drug_details">
      <a>
        <img src="assets/images/cancer/calcium_and_minerals_1.jpeg" 
             alt="Calcium and Minerals">
      </a>
    </div>

  </div>
</section>