.subcontent {
  display: none !important;
  position: absolute;
  background-color: #fff;
  width: 100%;
  z-index: 1;
}

.medmenu:hover .subcontent {
  display: block !important;
}

.healthmenu:hover .subcontent {
  display: block !important;
}

.subcontent li a {
  text-decoration: none;
  color: black !important;
  font-family: 'lato';
}

.subcontent li a:hover {
  color: #0b7e81 !important;
}

.heading {
  font-size: 24px;
  color: black;
  font-family: "lato";
  font-weight: 500;
  margin-bottom: 8px;
  padding-bottom: 4px;
  margin-left: 150px;
  text-transform: none;
  letter-spacing: normal;
}

.healthbutton, .blogs {
  margin-left: 130px;
  margin-right: 30px;
  margin-top: 10px;
}

.healthbutton>button {
  height: 40px;
  margin-left: 6px;
  border-radius: 6px;
  border: none;
  background-color: #ffffff;
  padding-left: 12px;
  padding-right: 12px;
}

.b-all {
  background-color: #dff6f6 !important;
  width: 50px;
  border: none;
}

/* Style the search box inside the navigation bar */
.searchbarcss input[type=text] {
  float: right;
  padding: 10px;
  border: none;
  font-size: 13px;
  border-radius: 6px;
}

/*  css healthbutton for button and serch bar  */
.helthmeancontent {
  display: flex;
}

.searchbarcss {
  margin-top: 10px;
  height: 60px;
  border: none;
}

.searchbarinput {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/></svg>');
  background-position: 180px 10px;
  background-repeat: no-repeat;
  font-family: lato;
  border: none;
}

/* css for img mean div */
.healthcareimages {
  display: flex;
  margin-left: 150px;
  margin-top: 20px;
}

/* css for img 1 */
.healthcareimg1>img {
  border-radius: 8px;
  width: 323px;
  height: 424px;
}

.healthcareimg1 {
  height: 670px;
  width: 323px;
  background-color: #ffffff;
  border-radius: 8px;
  /* margin-left: 20px; */
}

/* css for img 1 */
.healthcareimg2>img {
  border-radius: 8px;
  /* margin-left: 20px; */
}

.healthcareimg2 {
  height: 323px;
  width: 190px;
  background-color: #ffffff;
  border-radius: 8px;
  margin-left: 20px;
}

/* css for img 3 */
.healthcareimg3>img {
  border-radius: 8px;
  /* margin-left: 20px; */
}

.healthcareimg3 {
  height: 323px;
  width: 190px;
  background-color: #ffffff;
  border-radius: 8px;
  margin-left: 20px;
}

/* css for ing heading */
.imgheading {
  font-size: 18px;
  font-family: "lato";
  font-weight: 400;
  padding-top: 12px;
  padding-right: 16px;
  padding-left: 16px;
}

.imgheading>a {
  color: black;
  text-decoration: none;
}

.imgcontent {
  font-size: 14px;
  font-family: "lato";
  margin-left: 16px;
  margin-right: 16px;
  color: rgba(21, 27, 57, .6);
}

.img4 {
  height: 333px;
  width: 190px;
  background-color: #ffffff;
  border-radius: 8px;
  letter-spacing: normal;
  margin-top: -20px;
}

.img4>img {
  border-radius: 8px;
  /* margin-left: 20px; */
}

.img5 {
  height: 333px;
  width: 190px;
  background-color: #ffffff;
  border-radius: 8px;
  letter-spacing: normal;
  margin-top: 20px;
}

.img5>img {
  border-radius: 8px;
  /* margin-left: 20px; */
}


/* css for right side content */
.rightside1 {
  background-color: #ffffff;
  padding: 16px;
  border-radius: 8px;
}

.rightheading {
  font-size: 12px;
  font-family: "lato";
  font-weight: 700;
  color: rgba(21, 27, 57, .6);
  ;
  line-height: 1.33;
  letter-spacing: 1px;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.lianchortag {
  text-decoration: none;
  font-size: 12px;
  font-family: "lato";
  font-weight: 400;
  color: rgba(21, 27, 57, .6);
  ;
  line-height: 2.33;
  margin-bottom: 8px;
  /* padding-left: -20px; */
}

.rightside1>ul {
  padding-left: 0 !important;
}

/* css for videio wala mean contenor */


.Videocontenor {
  background-color: rgba(21, 27, 57, .04);
  height: 628px;
  margin-top: 60px;
}

/* css for fist line  */
.firstheading {
  font-size: 12px;
  font-family: "lato";
  font-weight: 550;
  color: #6f7284;
  ;
  padding-top: 72px;
  padding-left: 26px;
  letter-spacing: 1px;
  margin-bottom: 32px;
}

/* css for second line */
.secondheading {
  font-size: 20px;
  font-family: "lato";
  font-weight: 500;
  height: 32px;
  line-height: 24px;
  color: #151b39;
  padding-top: 4px;
  padding-left: 26px;
  letter-spacing: .25px;
}

.paregraphline {
  font-size: 11px;
  padding-left: 26px;
  font-family: "lato";
  font-weight: 500;
  line-height: normal;
  color: #6f7284;
}

.video1 {
  padding-left: 26px;
}

.video1>iframe {
  border-radius: 8px;
}

.video1>h1 {
  font-family: "Lato";
  font-size: 18px;
  margin-bottom: 8px;
  padding-top: 16px;
  padding-right: 16px;
  padding-left: 16px;
  font-weight: 400;
  line-height: 1.44;
  color: #151b39;
  max-height: 68px;
}

.video1>p {
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  padding-left: 16px;
  color: rgba(21, 27, 57, .6);
  width: 488px;
}

/* css for all vedio cantenor */
.classforvideo {
  display: flex;
  margin-top: 40px;
}

/* css for vedio2 */
.img2 {
  height: 130px;
  width: 232px;
  border-radius: 8px;
  margin-left: 20px;
}

/* css for vedio2 */
.img3 {
  height: 130px;
  width: 232px;
  border-radius: 8px;
  margin-left: 20px;
}

.imheading {
  font-family: "Lato";
  font-size: 18px;
  margin-bottom: 8px;
  padding-top: 16px;
  padding-right: 16px;
  padding-left: 30px;
  line-height: 25.92px;
  font-weight: 400;
  line-height: 1.44;
  color: #151b39;
  max-height: 68px;
  text-align: left;
  width: 252px;
}

.pimg {
  font-family: "Lato";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  padding-left: 30px;
  /* padding: 0 16px; */
  height: 72px;
  color: rgba(21, 27, 57, .6);
  width: 232px;
  text-align: left;
}
/* css for button */
.viewallbutton{
  float: right;
  border: none;
  color: #6f7284;
  text-transform: uppercase;
  background-color:rgba(21, 27, 57, .01);
}

.healthbutton > button:hover{
  color: #0b7e81;
}