<div class="row gx-0 me-1"> <!-- gx-0 removes gutter spacing between columns -->
    <!-- Sidebar -->
    <div class="col-lg-3 col-md-4">
      <app-side-bar (filtersChanged)="applyFilters($event)"></app-side-bar>
    </div>
  
    <!-- Main Content -->
    <div class="col-lg-9 col-md-8 ps-lg-2 ps-md-2 ps-1 main-cont"> <!-- Added left padding manually -->
      <!-- Banner Image or Fallback Div -->
      <img *ngIf="bannerImg" [src]="bannerImg" class="shadow-sm w-100 rounded" />
  
      <div *ngIf="!bannerImg" class="banner-div rounded d-flex align-items-start justify-content-start"
           style="height: 180px;">
        <p class="banner-text ms-4 mt-3">{{bannerText}}</p>
      </div>
  
      <!-- Product List -->
      <div class="row my-4 bg-white p-2 rounded-2">
        <p class="ms-2" style="font-weight: 500;color: rgba(21,27,57,.6);">ALL PRODUCTS</p>
        <div class="col-xl-3 col-lg-4 col-sm-6 col-12 mb-3" *ngFor="let product of products" (click)="goToDetail(product.id)">
          <div class="card h-100 p-3" style="cursor: pointer;">
            <div class="d-flex justify-content-center">
              <img class="pro_img" [src]="product.image" />
            </div>
            <p class="product_content mt-3">{{ product.name }}</p>
  
            <div class="d-flex gap-2 flex-wrap">
              <p class="product_category mt-2" *ngFor="let dt of product.category">{{ dt }}</p>
            </div>
  
            <span class="drug_varient mt-2">Mkt: {{ product.brand | custom:22 }}</span>
            <p class="product_disc_price mt-1">₹{{ product.disc_price }}</p>
            <span class="text-decoration-line-through product_old_price mt-1">
              MRP Rs.{{ product.price }}
            </span>
            <button appHighlight class="btn mt-4" (click)="addToCart(product)">Add To Cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  