* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .card {
    width: 100%;
    height: 300px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease-in-out;
    gap: 2px;
  }
  .card:hover {
    transform: translateY(-3px);
  }
  .main-cont{
    margin-left: -20px;
  }
  
  .pro_img {
    max-width: 100%;
    height: 150px;
    object-fit: contain;
  }
  
  .product_content {
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    overflow: hidden;
  }
  
  .drug_varient {
    font-style: italic;
    font-size: 13px;
    color: #6f7284;
    font-weight: 500;
  }
  
  .product_old_price {
    color: #6f7284;
    font-size: 14px;
    font-weight: 500;
  }
  
  .product_disc_price {
    font-size: 19px;
    font-weight: 500;
  }
  
  .product_category {
    padding: 5px 10px;
    border-radius: 30px;
    font-size: 11px;
    color: #24aeb1;
    background-color: #f3f7fb;
  }
  
  .btn {
    background-color: #24aeb1;
    color: #f3f7fb;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 500;
    width: 100%;
  }
  
  .banner-text {
    font-size: 25px;
  }
  
  .banner-div {
    background-color: #dff8ff;
  }
  
  @media (max-width: 768px) {
    .card {
      height: auto;
    }
  
    .pro_img {
      height: 120px;
    }
  
    .product_disc_price,
    .product_old_price {
      font-size: 16px;
    }
  }
  