<div class="footer">
    <footer>
        <!-- Footer Top Section -->
        <div class="footer-btm">
            <div class="offline-stores">
                <div class="stores-content">
                    <img class="store-img" src="https://www.netmeds.com/assets/icons/store.png" alt="Offline Stores">
                    <div class="offline-content">
                        <div class="ft-txt">
                            <div class="number">1000+</div>
                            <div>Offline Stores</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pincode">
                <div class="stores-content">
                    <img class="pin-img" src="https://www.netmeds.com/assets/icons/location.png" alt="PAN India delivery">
                    <div class="offline-content">
                        <div class="ft-txt">
                            <div class="number">20000+</div>
                            <div>Pincodes Served</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hp-customer">
                <div class="stores-content">
                    <img class="user-img" src="https://www.netmeds.com/assets/icons/user.png" alt="Happy Customers">
                    <div class="offline-content">
                        <div class="ft-txt">
                            <div class="number">9M+</div>
                            <div>Happy Customers</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Logo and Intro -->
        <div class="footer-top">
            <div class="footer-logo">
                <img src="https://www.netmeds.com/assets/gloryweb/images/netmeds-footer-logo.svg" alt="Netmeds.com, India ki Online Pharmacy">
            </div>
            <div class="footer-txt">
                Netmeds.com is one of India’s most trusted pharmacies, dispensing quality medicines at reasonable prices to over 9 million happy customers – PAN India.
            </div>
        </div>

        <!-- Footer Links -->
        <div class="footer-container">
            <ul>
                <li><div class="footer_title">Company</div></li>
                <li><a href="#">About Netmeds</a></li>
                <li><a href="#">Customers Speak</a></li>
                <li><a href="#">In the News</a></li>
                <li><a href="#" target="_blank">Career</a></li>
                <li><a href="#">Contact</a></li>
            </ul>

            <ul>
                <li><div class="footer_title">Our Policies</div></li>
                <li><a href="#">Terms and Conditions</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Fees and Payments Policy</a></li>
                <li><a href="#">Shipping and Delivery Policy</a></li>
                <li><a href="#">Return, Refund and Cancellation Policy</a></li>
                <li><a href="#">Editorial Policy</a></li>
            </ul>

            <ul>
                <li><div class="footer_title">Shopping</div></li>
                <li><a href="#">Browse by A-Z</a></li>
                <li><a href="#">Browse by Manufacturers</a></li>
                <li><a href="#">Health Articles</a></li>
                <li><a href="#">Offers / Coupons</a></li>
                <li><a href="#">FAQs</a></li>
            </ul>

            <ul>
                <li><div class="footer_title">Popular Categories</div></li>
                <li><a href="#">Fitness</a></li>
                <li><a href="#">Devices</a></li>
                <li><a href="#">Personal Care</a></li>
                <li><a href="#">Ayurveda</a></li>
                <li><a href="#">Homeopathy</a></li>
                <li><a href="#">Treatments</a></li>
                <li><a href="#">Sexual Wellness</a></li>
                <li><a href="#">Surgicals</a></li>
            </ul>

            <ul>
                <li><div class="footer_title">Social</div></li>
                <li><a href="#">Patients Alike</a></li>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">LinkedIn</a></li>
                <li><a href="#">YouTube</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Refer & Earn</a></li>
            </ul>

            <!-- Newsletter Subscribe -->
            <div class="subscribe">
                <div class="footer_title">SUBSCRIBE TO OUR NEWSLETTER</div>
                Get a free subscription to our health and fitness tips and stay tuned to our latest offers
                <form id="newsletter-validate-detail" method="post">
                    <div class="control">
                        <input name="newsletter_email" type="email" placeholder="Enter your email address">
                        <button class="go-btn" title="Go" type="submit">
                            <img src="https://www.netmeds.com/assets/icons/send.png">
                        </button>
                    </div>
                </form>
                <div class="app-store">
                    <a class="store-icon" href="#"><img src="https://www.netmeds.com/assets/gloryweb/images/icons/play_store.png" alt="Google Play"></a>
                    <a class="store-icon" href="#"><img src="https://www.netmeds.com/assets/gloryweb/images/icons/app_store.png" alt="App Store"></a>
                </div>
            </div>
        </div>

        <!-- Payment Partners -->
        <div class="payment-partner1">
            <div class="ft-head"><h2>Our Payment Partners</h2></div>
            <div class="our-partners">
			
                <img src="https://www.netmeds.com/assets/global/images/footer-payment-icon/google-pay.svg" alt="Google Pay">
                <img src="https://www.netmeds.com/assets/global/images/footer-payment-icon/phonepe.svg" alt="PhonePe">
                <img src="https://www.netmeds.com/assets/global/images/footer-payment-icon/paytm.svg" alt="Paytm">
                <img src="https://www.netmeds.com/assets/global/images/footer-payment-icon/simpl.svg" alt="Simpl">
                <img src="https://www.netmeds.com/assets/global/images/footer-payment-icon/rupay.svg" alt="Rupay">
                <img src="https://www.netmeds.com/assets/global/images/footer-payment-icon/visa.svg" alt="Visa">
                <img src="https://www.netmeds.com/assets/global/images/footer-payment-icon/mastercard.svg" alt="MasterCard">
            </div>
        </div>

        <!-- Copy Block -->
        <div class="copyblock">
            <div class="footer_link"><a href="#">Medicine</a></div>
            <div class="footer_link"><a href="#">Wellness</a></div>
            <div class="footer_link"><a href="#">Lab Tests</a></div>
            <div class="footer_link"><a href="#">Beauty</a></div>
            <div class="copy-txt">Copyright© 2023. All Rights Reserved.</div>
        </div>
    </footer>
</div>