<!-- Banner Image  -->
<div class="cancer-banner-wrapper">
  <a href="https://www.youtube.com/shorts/80ZBbjHCy_g" target="_blank">
    <img src="assets/images/cancer/1706604275_webbanner_final_2024.jpg" class="cancer-banner" alt="Cancer Awareness Banner" />
  </a>
</div>

<div class="container my-4">
  <!-- Heading -->
  <h2 class="text-center fw-bold mb-3">
    Fighting Cancer is a battle, but accessing quality care shouldn't be…
  </h2>

  <!-- Subtext -->
  <p class="text-center fs-5 mb-4 text-muted">
    Netmeds promises to stand by your side throughout your journey
  </p>

  <!-- Top 3 Static Rounded Images -->
<div class="row row-cols-1 row-cols-md-3 gx-3 gy-1 mt-2">
  <div class="col">
  <a [routerLink]="['/shared/supplements']">
    <img src="assets/images/cancer/1696411198_Supplements-for-Cancer.jpg" 
         alt="Supplements for Cancer" 
         class="expand-on-hover" />
  </a>
</div>
  <div class="col">
    <img src="assets/images/cancer/1697627961_Mobile_Book-Cancer-Screening-Test.jpg" alt="Book Cancer Screening" class="expand-on-hover" />
  </div>
  <div class="col">
    <img src="assets/images/cancer/1696411252_Widest-Assortment.jpg" alt="Widest Assortment" class="expand-on-hover" />
  </div>
</div>
<br>
<br>

<h2>Cancer Resource Center: Where answers and support unite!</h2>
<p>#WhatsYourColour</p>

<!-- Diseases Info -->
 <div class="row tight-cols gx-0 gy-0">
    <!-- Card 1 -->
    <div class="col-md-4">
      <div class="cancer-card p-2 d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <div class="icon-circle me-2">
            <img src="assets/images/cancer/1696423802_Breast-Cancer.jpg" alt="Breast Cancer" class="cancer-icon">
          </div>
        </div>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="col-md-4">
      <div class="cancer-card p-2 d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <div class="icon-circle me-2">
            <img src="assets/images/cancer/1696423978_Thyroid-Cancer.jpg" alt="Thyroid Cancer" class="cancer-icon">
          </div>
        </div>
      </div>
    </div>

    <!-- Card 3 -->
    <div class="col-md-4">
      <div class="cancer-card p-2 d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <div class="icon-circle me-2">
            <img src="assets/images/cancer/1696423842_Liver-Cancer.jpg" alt="Liver Cancer" class="cancer-icon">
          </div>
        </div>
      </div>
    </div>

    <!-- Card 4 -->
    <div class="col-md-4">
      <div class="cancer-card p-2 d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <div class="icon-circle me-2">
            <img src="assets/images/cancer/1696423875_Kidney-Cancer.jpg" alt="Kidney Cancer" class="cancer-icon">
          </div>
        </div>
      </div>
    </div>

    <!-- Card 5 -->
    <div class="col-md-4">
      <div class="cancer-card p-2 d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <div class="icon-circle me-2">
            <img src="assets/images/cancer/1696423894_Colon-Cancer.jpg" alt="Colon Cancer" class="cancer-icon">
          </div>
        </div>
      </div>
    </div>

    <!-- Card 6 -->
    <div class="col-md-4">
      <div class="cancer-card p-2 d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <div class="icon-circle me-2">
            <img src="assets/images/cancer/1696423916_Lung-Cancer.jpg" alt="Lung Cancer" class="cancer-icon">
          </div>
        </div>
      </div>
    </div>

    <!-- Card 7 -->
    <div class="col-md-4">
      <div class="cancer-card p-2 d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <div class="icon-circle me-2">
            <img src="assets/images/cancer/1707197179_Cervical-Cancer-.jpg" alt="Cervical Cancer" class="cancer-icon">
          </div>
        </div>
      </div>
    </div>

    <!-- Card 8 -->
    <div class="col-md-4">
      <div class="cancer-card p-2 d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <div class="icon-circle me-2">
            <img src="assets/images/cancer/1707197351_Leukemia.jpg" alt="Leukemia" class="cancer-icon">
          </div>
        </div>
      </div>
    </div>

    <!-- Card 9 -->
    <div class="col-md-4">
      <div class="cancer-card p-2 d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <div class="icon-circle me-2">
            <img src="assets/images/cancer/1707197412_Soft-Tissue.jpg" alt="Soft Tissue" class="cancer-icon">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<div class="cont">
<img src="assets/images/cancer/1696419001_cancer-in-india.jpg" alt="Caner Page Banner" class="ca-card-desktop">
</div>

<div style="background-color: white;">
  <div class="ca-content-pad-text" style="background-color: white;">
  <h2><strong>Stay informed with our latest Cancer education videos</strong></h2>
  </div>
</div>
<div class="ca-content-pad3">
  <div class="video-card">
    <a href="/health-library/post/5-foods-for-breast-cancer" target="_blank" rel="noopener">
      <img src="assets/images/cancer/1696410579_Cancer-education-videos_01.jpg" alt="5 Foods for Breast Cancer">
    </a>
  </div>

  <div class="video-card">
    <a href="/health-library/post/what-to-eat-during-cancer-treatment-shorts" target="_blank" rel="noopener">
      <img src="assets/images/cancer/1696410698_Cancer-education-videos_02.jpg" alt="What to eat during cancer treatment">
    </a>
  </div>

  <div class="video-card">
    <a href="/health-library/post/dr-manoj-kumar-sharma-senior-consultant-oncology-tells-us-about-head-and-neck-cancer" target="_blank" rel="noopener">
      <img src="assets/images/cancer/1696410751_Cancer-education-videos_03.jpg" alt="Know about head and neck cancer">
    </a>
  </div>
</div>

<div class="ca-ebook-main">
  <div class="ca-ebook-submain">

    <!-- Image -->
    <div class="ca-ebook-image">
      <img src="assets/images/cancer/1697145714_E-book-alert.png" alt="Your E-book is here">
    </div>

    <!-- Text + Button -->
    <div class="ca-ebook-content">
      <h2 style="padding: 0;"><strong><span class="ca-underline-text" style="color: #be3d86;">E-book alert</span></strong></h2><br>
      <p class="ca-ebook-content-para">Your complete guide to <strong>Breast Cancer is here</strong></p>

      <!-- Download button under the text -->
      <div class="ca-download-ebook ca-shine-button">
        <a href="https://www.netmeds.com/images/cms/wysiwyg/pdf/breast-cancer-ebook-2023.pdf" download="Netmeds-Breast-Cancer-E-book.pdf">Download Now</a>
      </div>
    </div>
    
</div>
    <div class="ca-why-netmeds-wrapper">
    <div class="ca-content-pad-text">
      <h2>Why choose Netmeds to be your Cancer Care Companion?</h2>
    </div>

    <div class="ca-why-images">
      <img class="ca-card-desktop" src="assets/images/cancer/1696329370_Why-choose-Netmeds-to-be-your--Cancer-Care-Companion-.png" alt="About Netmeds">
    </div>
  </div>
  
  <div class="ca-netmeds-offerings-wrapper">
  <img class="ca-card-desktop" 
       src="assets/images/cancer/1696023369_Screenshot_2023-09-30_at_3.04.06_AM.png" 
       alt="Netmeds offerings">
</div>
</div>

<div class="ca-netmeds-benefits-wrapper">
  <div class="nfm-pharmacy-block">

    <!-- Netmeds First Membership -->
    <div class="nfm-pharmacy-box">
      <div class="ca-nfm-gif">
        <a href="/customer/netmeds-first">
          <img src="assets/images/cancer/1697144880_nfm_premium_gold.gif" loading="lazy" alt="Netmeds First">
        </a>
      </div>
      <div>
        <h3 class="ca-benefit-heading">Netmeds First Membership</h3>
        <p class="ca-benefit-text">
          <strong>Additional 2%</strong> Wallet Cash on all orders.<br>
          <strong>Extra 10%</strong> off on Diagnostics
        </p>
      </div>
    </div>

 
    <div class="nfm-pharmacy-line"></div>

    <!-- Netmeds Pharmacy -->
    <div class="nfm-pharmacy-box">
      <div class="ca-pharmacy-icon">
        <a href="/storelocator">
          <img src="assets/images/cancer/1696329453_Netmeds-Pharmacy.png" alt="Netmeds Pharmacy">
        </a>
      </div>
      <div>
        <h3 class="ca-benefit-heading">Netmeds Pharmacy</h3>
        <p class="ca-benefit-text">
          To locate store, <a href="tel:18008910001"><strong>call: 1800 891 0001</strong></a>
        </p>
      </div>
    </div>
  </div>
</div>
