
h1 {
    font-size: 24px;
}


h2 {
    font-size: 20px;
}


h3 {
    font-size: 18px;
}

.manufact1 > a {
    color: #0d6efd;
}

body{
    background-color: #f3f3f3;;
}
.main-section {
    max-width: 1030px;
    min-width: 1030px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 10px;
    min-height: auto;
}

.main-section .container-item {
    box-sizing: border-box !important;
    clear: both;
    font-family: Lato !important;
    margin: 0 auto !important;
    min-width: 1030px;
    max-width: 1680px;
    padding: 12px 16px !important;
    width: 100%;
}

.main-section .container-item ul {
    color: #000;
    font-size: 12px;
    list-style: none none;
    margin: 0;
    padding-top: 50px;
}
.main-section .container-item ul li {
    display: inline-block;
    text-decoration: none;
}
.main-section .container-item .item .item-list a{
    color: #0b7e81 !important;
}
.main-section .container-item .item .item-list span{
    color: #0b7e81 !important;
}

.main-section .container-item .item li:not(:last-child)::after {
    content: ">";
    margin-left: 5px;
    color: #666; /* Adjust color as desired */
  }

.main-section .container-item .category {
    position: relative;
    left: 28px;
    /* border: 1px solid black; */
    width: 120px;
    height: 60px;
    padding: 17px;
    background: #fff;
}

.main-section .container-item .category .check{
    position: relative;
    left:-7px;
}
.main-section .cart-section .card{
    margin-bottom: 20px;
}

.main-section .cart-section{
    position: relative;
    left: 200px;
    top: -71px;
}
.main-section .cart-section .card .card-body span{
    color: green;
    font-family: LatoBold;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.main-section .cart-section .card-text{
    font-family: Lato;

}
.main-section .cart-section .card .card-body .offer-view{
    float: right;
}

.main-section .cart-section .card .card-body .copy-text a{
    background-color: rgba(36, 174, 177, .08);
    color: #24aeb1;
    padding: 0;
    font-family: LatoBold;
    text-transform: uppercase;
    font-size: 12px;
    height: 32px;
    border: 0;
    width: 98px;
    border-radius: 3px;
    margin: 8px 0;
}

.main-section .cart-section .card .card-body .copy-text {
    position: relative;
    float: right;
    top: -30px;
}

.main-section .cart-section .page2{
    position: relative;
    left: 376px;
    top: -490px;
}

.main-section .cart-section-second{
    position: absolute;
    top: 241px;
    left: 840px;
}
.main-section .cart-section-second .card .card-body .copy-text a{
    background-color: rgba(36, 174, 177, .08);
    color: #24aeb1;
    padding: 0;
    font-family: LatoBold;
    text-transform: uppercase;
    font-size: 12px;
    height: 32px;
    border: 0;
    width: 98px;
    border-radius: 3px;
    margin: 8px 0;
}
.main-section .cart-section-second .card .card-body span{
    color: green;
    font-family: LatoBold;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.main-section .cart-section-second .card-text{
    font-family: Lato;

}
.main-section .cart-section-econd .card .card-body .offer-view{
    float: right;
}
.main-section .cart-section-second .card .card-body .copy-text {
    position: relative;
    float: right;
    top: -30px;
}
.main-section .cart-section-second .card {
    margin-bottom: 20px;
}

