 <div class="main-section ">
        <div class="container-item">           
                <ul class="item">
                    <li class="item-list">
                        <a href="../html/1_Home.html" class="nav-like">Home</a>
                    </li>
                    <li class="item-list">
                        <span>offers</span>
                    </li>
                </ul>                  
            <div class="category">
                <input type="checkbox" class="check">Medicine
            </div>    
        </div>

        <div class="cart-section">
            <div class="card offer-section-1" style="width: 23rem;">
                <img src="https://www.netmeds.com/images/cms/offers/1740051623_Mobile_Landing_Banner_(4).jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">GET22OFF</h5>
                  <small>Coupon Code</small>
                  <div class="copy-text"><a href="#">COPY CODE</a></div>
                  <p class="card-text">Till 28th February 2025! Get Flat 20% OFF* (max. discount: Rs. 2000) on PrePaid/COD medicine orders & 2% NMS Cash* (max. cashback: Rs. 100) on ‘PrePaid’ medicine orders. *Minimum order (along with ANY other products) required: Rs 1999. *T&C</p>
                  <hr>
                  <span>VALID TILL 28 Feb 2025</span>
                  <a href="#" class="btn offer-view">View Details</a>
                </div>
              </div>

              <div class="card offer-section-4" style="width: 23rem;">
                <img src="https://www.netmeds.com/images/cms/offers/1740490171_Mobile_Landing_Banner.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">GET22OFF</h5>
                  <small>Coupon Code</small>
                  <div class="copy-text"><a href="#">COPY CODE</a></div>
                  <p class="card-text">ALL users get assured Savings of max. Rs. 150 on ONLY one transaction of min. Rs 999 Up to 16X Rewards on ANY no. of transactions of ANY value using “Pay with Rewards” payment option @ Netmeds.com, & applying coupon code inside Pay with Rewards.</p>
                  <hr>
                  <span>VALID TILL 28 Feb 2025</span>
                  <a href="#" class="btn offer-view">View Details</a>
                </div>
              </div>

              <div class="card offer-section-2" style="width: 23rem;">
                <img src="https://www.netmeds.com/images/cms/offers/1740051623_Mobile_Landing_Banner_(4).jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">GET22OFF</h5>
                  <small>Coupon Code</small>
                  <div class="copy-text"><a href="#">COPY CODE</a></div>
                  <p class="card-text">Till 28th February 2025! Get Flat 20% OFF* (max. discount: Rs. 2000) on PrePaid/COD medicine orders & 2% NMS Cash* (max. cashback: Rs. 100) on ‘PrePaid’ medicine orders. *Minimum order (along with ANY other products) required: Rs 1999. *T&C</p>
                  <hr>
                  <span>VALID TILL 28 Feb 2025</span>
                  <a href="#" class="btn offer-view">View Details</a>
                </div>
              </div>
              <div class="card offer-section-4" style="width: 23rem;">
                <img src="https://www.netmeds.com/images/cms/offers/1735645717_Mobile_Landing_banner.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">GET22OFF</h5>
                  <small>Coupon Code</small>
                  <div class="copy-text"><a href="#">COPY CODE</a></div>
                  <p class="card-text">Till 28th February 2025! Get Flat 20% OFF* (max. discount: Rs. 2000) on PrePaid/COD medicine orders & 2% NMS Cash* (max. cashback: Rs. 100) on ‘PrePaid’ medicine orders. *Minimum order (along with ANY other products) required: Rs 1999. *T&C</p>
                  <hr>
                  <span>VALID TILL 28 Feb 2025</span>
                  <a href="#" class="btn offer-view">View Details</a>
                </div>
              </div>

              <div class="card offer-section-3" style="width: 23rem;">
                <img src="https://www.netmeds.com/images/cms/offers/1740490171_Mobile_Landing_Banner.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <!-- <h5 class="card-title">GET22OFF</h5> -->
                  <!-- <small>Coupon Code</small> -->
                  <!-- <div class="copy-text"><a href="#">COPY CODE</a></div> -->
                  <p class="card-text">Till 28th February 2025, get Flat 20% OFF* (max discount: Rs 2000) on Your First Pre-Paid/COD Medicine order, AND upon delivery, up to 5% NMS Cash* (max cashback: Rs. 100) on ‘pre-paid’ medicine order. *Minimum order of medicines required: Rs 799. *T&C</p>
                  <hr>
                  <span>VALID TILL 28 Feb 2025</span>
                  <a href="#" class="btn offer-view">View Details</a>
                </div>
              </div>

              <div class="card offer-section-4" style="width: 23rem;">
                <img src="https://www.netmeds.com/images/cms/offers/1735645717_Mobile_Landing_banner.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <!-- <h5 class="card-title">GET22OFF</h5>
                  <small>Coupon Code</small>
                  <div class="copy-text"><a href="#">COPY CODE</a></div> -->
                  <p class="card-text">Get Freecharge UPI Cashback of up to Rs. 35 on a minimum purchase of ANY products* worth Rs. 999, when you pay via Freecharge UPI option on Netmeds website/app. Offer is valid ONCE per user during the offer period. *T&C apply.</p>
                  <hr>
                  <span>VALID TILL 28 Feb 2025</span>
                  <a href="#" class="btn offer-view">View Details</a>
                </div>
              </div>

        </div>

        <div class="cart-section-second">
            <div class="card offer-section-3" style="width: 23rem;">
                <img src="https://www.netmeds.com/images/cms/offers/1738323038_Mobile_Landing_Banner.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">GET22OFF</h5>
                  <small>Coupon Code</small>
                  <div class="copy-text"><a href="#">COPY CODE</a></div>
                  <p class="card-text">Till 28th February 2025, get Flat 20% OFF* (max discount: Rs 2000) on Your First Pre-Paid/COD Medicine order, AND upon delivery, up to 5% NMS Cash* (max cashback: Rs. 100) on ‘pre-paid’ medicine order. *Minimum order of medicines required: Rs 799. *T&C</p>
                  <hr>
                  <span>VALID TILL 28 Feb 2025</span>
                  <a href="#" class="btn offer-view">View Details</a>
                </div>
              </div>

              <div class="card offer-section-3" style="width: 23rem;">
                <img src="https://www.netmeds.com/images/cms/offers/1738321132_Mobile_Landing_Banner.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">NMS15</h5>
                  <small>Coupon Code</small>
                  <div class="copy-text"><a href="#">COPY CODE</a></div>
                  <p class="card-text">Till 28th February 2025, get Flat 15% OFF* (max. discount: Rs. 2000) on PrePaid/COD medicine orders & up to 5% NMS Cash* (max. cashback: Rs. 100) on ‘PrePaid’ medicine orders. *Minimum order (along with ANY other products) required: Rs 799. *T&C</p>
                  <hr>
                  <span>VALID TILL 28 Feb 2025</span>
                  <a href="#" class="btn offer-view">View Details</a>
                </div>
              </div>
              <div class="card offer-section-3" style="width: 23rem;">
                <img src="https://www.netmeds.com/images/cms/offers/1720101341_Mob_Landing.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">FREEDEL</h5>
                  <small>Coupon Code</small>
                  <div class="copy-text"><a href="#">COPY CODE</a></div>
                  <p class="card-text" style="padding-bottom:72px;">Till 28th February 2025, Get FREE shipping* on orders above Rs. 750. Limited period offer! *T&C apply.</p>
                  <hr>
                  <span>VALID TILL 28 Feb 2025</span>
                  <a href="#" class="btn offer-view">View Details</a>
                </div>
              </div>
              <div class="card offer-section-3" style="width: 23rem;">
                <img src="https://www.netmeds.com/images/cms/offers/1738063281_Mobile_Landing_Banner.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <!-- <h5 class="card-title">GET22OFF</h5> -->
                  <!-- <small>Coupon Code</small> -->
                  <!-- <div class="copy-text"><a href="#">COPY CODE</a></div> -->
                  <p class="card-text" style="padding-bottom: 56px;">Till 28th February 2025, get Paytm Cashback of up to Rs. 300 on a minimum purchase of ANY products* worth Rs. 300, when you pay via Paytm UPI option on Netmeds website/app on 1st & 3rd Transactions. Offer is valid ONCE per user during the campaign validity. *T&C apply.</p>
                  <hr>
                  <span>VALID TILL 28 Feb 2025</span>
                  <a href="#" class="btn offer-view">View Details</a>
                </div>
              </div>
              <div class="card offer-section-3" style="width: 23rem;">
                <img src="https://www.netmeds.com/images/cms/offers/1740490289_Mobile_Landing_Banner.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <!-- <h5 class="card-title">GET22OFF</h5> -->
                  <!-- <small>Coupon Code</small> -->
                  <!-- <div class="copy-text"><a href="#">COPY CODE</a></div> -->
                  <p class="card-text">NEW users get assured Savings of max. Rs. 200 on ONLY one transaction of min. Rs 499 Up to 16X Rewards on ANY no. of transactions of ANY value using “Pay with Rewards” payment option @ Netmeds.com, & applying coupon code inside Pay with Rewards.</p>
                  <hr>
                  <span>VALID TILL 28 Feb 2025</span>
                  <a href="#" class="btn offer-view">View Details</a>
                </div>
              </div>
              <div class="card offer-section-3" style="width: 23rem;">
                <img src="https://www.netmeds.com/images/cms/offers/1738322751_Mobile_Landing_Banner.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <!-- <h5 class="card-title">GET22OFF</h5>
                  <small>Coupon Code</small>
                  <div class="copy-text"><a href="#">COPY CODE</a></div> -->
                  <p class="card-text" style="padding-bottom:46px;">Get up to 10% Cashback on a minimum purchase of Rs. 999/- when you pay via MobiKwik UPI. Offer valid until 28th February 2025. *T&C apply.</p>
                  <hr>
                  <span>VALID TILL 28 Feb 2025</span>
                  <a href="#" class="btn offer-view">View Details</a>
                </div>
              </div>


        </div>
    </div>